/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* ======= Reset ====== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Plus Jakarta Sans, sans-serif;
}

/* ======= Responsive ====== */
.row > *, .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x: 30px;
  --grid-gutter-y: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-y) * -1);
  margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);
}
.row > * {
  margin-top: calc(var(--grid-gutter-y));
}

.col {
  flex: 1 0;
}

.container {
  --grid-gutter-x: 36px;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.gx-0,
.g-0 {
  --grid-gutter-x: 0px;
}

.gy-0,
.g-0 {
  --grid-gutter-y: 0px;
}

.gx-1,
.g-1 {
  --grid-gutter-x: 7.5px;
}

.gy-1,
.g-1 {
  --grid-gutter-y: 7.5px;
}

.gx-2,
.g-2 {
  --grid-gutter-x: 15px;
}

.gy-2,
.g-2 {
  --grid-gutter-y: 15px;
}

.gx-3,
.g-3 {
  --grid-gutter-x: 30px;
}

.gy-3,
.g-3 {
  --grid-gutter-y: 30px;
}

.gx-4,
.g-4 {
  --grid-gutter-x: 45px;
}

.gy-4,
.g-4 {
  --grid-gutter-y: 45px;
}

.gx-5,
.g-5 {
  --grid-gutter-x: 90px;
}

.gy-5,
.g-5 {
  --grid-gutter-y: 90px;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
    padding-left: 0;
    padding-right: 0;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
  .gx-sm-0,
  .g-sm-0 {
    --grid-gutter-x: 0px;
  }
  .gy-sm-0,
  .g-sm-0 {
    --grid-gutter-y: 0px;
  }
  .gx-sm-1,
  .g-sm-1 {
    --grid-gutter-x: 7.5px;
  }
  .gy-sm-1,
  .g-sm-1 {
    --grid-gutter-y: 7.5px;
  }
  .gx-sm-2,
  .g-sm-2 {
    --grid-gutter-x: 15px;
  }
  .gy-sm-2,
  .g-sm-2 {
    --grid-gutter-y: 15px;
  }
  .gx-sm-3,
  .g-sm-3 {
    --grid-gutter-x: 30px;
  }
  .gy-sm-3,
  .g-sm-3 {
    --grid-gutter-y: 30px;
  }
  .gx-sm-4,
  .g-sm-4 {
    --grid-gutter-x: 45px;
  }
  .gy-sm-4,
  .g-sm-4 {
    --grid-gutter-y: 45px;
  }
  .gx-sm-5,
  .g-sm-5 {
    --grid-gutter-x: 90px;
  }
  .gy-sm-5,
  .g-sm-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
    padding-left: 0;
    padding-right: 0;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
  .offset-md-2 {
    margin-left: 16.6666666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.3333333333%;
  }
  .offset-md-5 {
    margin-left: 41.6666666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.3333333333%;
  }
  .offset-md-8 {
    margin-left: 66.6666666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.3333333333%;
  }
  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
  .gx-md-0,
  .g-md-0 {
    --grid-gutter-x: 0px;
  }
  .gy-md-0,
  .g-md-0 {
    --grid-gutter-y: 0px;
  }
  .gx-md-1,
  .g-md-1 {
    --grid-gutter-x: 7.5px;
  }
  .gy-md-1,
  .g-md-1 {
    --grid-gutter-y: 7.5px;
  }
  .gx-md-2,
  .g-md-2 {
    --grid-gutter-x: 15px;
  }
  .gy-md-2,
  .g-md-2 {
    --grid-gutter-y: 15px;
  }
  .gx-md-3,
  .g-md-3 {
    --grid-gutter-x: 30px;
  }
  .gy-md-3,
  .g-md-3 {
    --grid-gutter-y: 30px;
  }
  .gx-md-4,
  .g-md-4 {
    --grid-gutter-x: 45px;
  }
  .gy-md-4,
  .g-md-4 {
    --grid-gutter-y: 45px;
  }
  .gx-md-5,
  .g-md-5 {
    --grid-gutter-x: 90px;
  }
  .gy-md-5,
  .g-md-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
    padding-left: 0;
    padding-right: 0;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
  .gx-lg-0,
  .g-lg-0 {
    --grid-gutter-x: 0px;
  }
  .gy-lg-0,
  .g-lg-0 {
    --grid-gutter-y: 0px;
  }
  .gx-lg-1,
  .g-lg-1 {
    --grid-gutter-x: 7.5px;
  }
  .gy-lg-1,
  .g-lg-1 {
    --grid-gutter-y: 7.5px;
  }
  .gx-lg-2,
  .g-lg-2 {
    --grid-gutter-x: 15px;
  }
  .gy-lg-2,
  .g-lg-2 {
    --grid-gutter-y: 15px;
  }
  .gx-lg-3,
  .g-lg-3 {
    --grid-gutter-x: 30px;
  }
  .gy-lg-3,
  .g-lg-3 {
    --grid-gutter-y: 30px;
  }
  .gx-lg-4,
  .g-lg-4 {
    --grid-gutter-x: 45px;
  }
  .gy-lg-4,
  .g-lg-4 {
    --grid-gutter-y: 45px;
  }
  .gx-lg-5,
  .g-lg-5 {
    --grid-gutter-x: 90px;
  }
  .gy-lg-5,
  .g-lg-5 {
    --grid-gutter-y: 90px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
    padding-left: 0;
    padding-right: 0;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
  .gx-xl-0,
  .g-xl-0 {
    --grid-gutter-x: 0px;
  }
  .gy-xl-0,
  .g-xl-0 {
    --grid-gutter-y: 0px;
  }
  .gx-xl-1,
  .g-xl-1 {
    --grid-gutter-x: 7.5px;
  }
  .gy-xl-1,
  .g-xl-1 {
    --grid-gutter-y: 7.5px;
  }
  .gx-xl-2,
  .g-xl-2 {
    --grid-gutter-x: 15px;
  }
  .gy-xl-2,
  .g-xl-2 {
    --grid-gutter-y: 15px;
  }
  .gx-xl-3,
  .g-xl-3 {
    --grid-gutter-x: 30px;
  }
  .gy-xl-3,
  .g-xl-3 {
    --grid-gutter-y: 30px;
  }
  .gx-xl-4,
  .g-xl-4 {
    --grid-gutter-x: 45px;
  }
  .gy-xl-4,
  .g-xl-4 {
    --grid-gutter-y: 45px;
  }
  .gx-xl-5,
  .g-xl-5 {
    --grid-gutter-x: 90px;
  }
  .gy-xl-5,
  .g-xl-5 {
    --grid-gutter-y: 90px;
  }
}
/* ===== Common ===== */
a {
  text-decoration: none;
}

.section-heading-1,
.section-heading-2,
.section-heading-3 {
  color: #201830;
}

.section-heading-1 {
  font-size: 7rem;
  font-weight: 700;
  line-height: 8rem; /* 114.286% */
}

.section-heading-2 {
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 5.2rem; /* 123.81% */
}

.section-heading-3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem; /* 150% */
}

.section-desc-1,
.section-desc-2 {
  color: #665f73;
}

.section-desc-1 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem; /* 166.667% */
}

.section-desc-2 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem; /* 175% */
}

.section-desc-3 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem; /* 171.429% */
}

.btn {
  --height-btn: 64px;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  text-align: center;
  padding: 0 12px;
  min-width: 157px;
  line-height: var(--height-btn);
  border-radius: 8px;
  background: #201830;
}
.btn:hover {
  opacity: 0.9;
}

.dots {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}
.dots .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #d8d5de;
  cursor: pointer;
}
.dots .dot.active {
  width: 12px;
  height: 12px;
  background: #936cdd;
}

/* ===== Header ===== */
.header {
  padding-top: 42px;
  background-color: #fff8f3;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__inner .navbar__list {
  display: flex;
}
.header__inner .navbar__item {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 12px 24px;
  cursor: pointer;
}
.header__inner .navbar__item:hover {
  text-shadow: 0 1px 0 currentColor;
}
.header__inner .navbar__item--expand {
  width: 6px;
  height: 6px;
  border: 1px solid #665f73;
  border-top-color: transparent;
  border-right-color: transparent;
  rotate: -45deg;
}
.header__inner .header__action {
  display: flex;
  align-items: center;
  gap: 28px;
}
.header__inner .header__action--login {
  color: #201830;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.8rem; /* 175% */
}
.header__inner .header__action--signup {
  --height-btn: 48px;
  font-size: 1.6rem;
  min-width: 116px;
}

/* ===== Hero ===== */
.hero {
  padding: 110px 0 140px;
  background-color: #fff8f3;
}
.hero__media {
  display: flex;
  gap: 30px;
}
.hero__media--left, .hero__media--right {
  width: 50%;
}
.hero__media--left .hero__img, .hero__media--right .hero__img {
  width: 100%;
}
.hero__media--left figure, .hero__media--right figure {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.hero__media--left .hero__media--play {
  position: absolute;
  bottom: 0;
  translate: 0 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 72%;
  height: 19.8%;
  border-radius: 9px;
  background: #fff;
  box-shadow: 0 12px 44px 0 rgba(32, 24, 48, 0.07);
}
.hero__media--left .hero__media--play .hero__play--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 1px solid #936cdd;
}
.hero__media--left .hero__media--play .hero__play--icon > * {
  translate: 1px;
}
.hero__media--left .hero__media--title {
  margin-top: 53px;
  color: #201830;
  font-weight: 600;
}
.hero__media--left .hero__media--avatars {
  margin-top: 10px;
  display: flex;
  margin-left: 18px;
}
.hero__media--left .hero__media--avatars .hero__media--avatar {
  width: 48px;
  height: 48px;
  margin-left: -18px;
}
.hero__media--left .hero__media--avatars .hero__media--avatar:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #201830;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 2.2rem; /* 183.333% */
  border-radius: 50%;
  border: 2px solid #fff;
}
.hero__media--right {
  position: relative;
  margin-top: 8px;
}
.hero__media--right .hero__media--podcasts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 43.7%;
  gap: 4px;
  width: 82px;
  height: 82px;
  border-radius: 50%;
  background-color: #ff9051;
}
.hero__media--right .hero__media--podcasts .hero__data {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 800;
  line-height: 1; /* 100% */
}
.hero__media--right .hero__media--podcasts .hero__media--podcast {
  color: #ffefe7;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1; /* 100% */
}
.hero__media--right .hero__media--icons {
  display: flex;
  gap: 18px;
  margin-top: 12px;
}
.hero__media--right figure {
  margin-top: 28px;
}
.hero__media--right figure .hero__media--singer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
  position: absolute;
  bottom: 5.3%;
  width: 72%;
  height: 19.8%;
  border-radius: 9px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 12px 44px 0 rgba(0, 0, 0, 0.07);
  backdrop-filter: blur(5px);
}
.hero__media--right figure .hero__media--singer .hero__singer-name {
  color: #201830;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1; /* 100% */
}
.hero__media--right figure .hero__media--singer .hero__singer-desc {
  color: #665f73;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1; /* 100% */
}
.hero__media--right .hero__media--decor {
  position: absolute;
}
.hero__media--right .hero__media--decor:first-of-type {
  top: 8.1%;
  left: 20%;
}
.hero__media--right .hero__media--decor:last-of-type {
  top: 20.8%;
  left: 58.2%;
}
.hero__content {
  margin-top: 18px;
}
.hero__content .hero__heading--wrap {
  position: relative;
}
.hero__content .hero__heading--wrap .hero__content--heading {
  position: relative;
  z-index: 1;
}
.hero__content .hero__heading--wrap .hero__heading--decor {
  position: absolute;
  left: 31px;
  bottom: 68px;
}
.hero__content--desc {
  margin-top: 20px;
}
.hero__content--cta {
  display: flex;
  align-items: center;
  gap: 28px;
  margin-top: 40px;
}
.hero__content--cta .hero__content--btn {
  background: #936cdd;
}
.hero__content--cta .hero__content--link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #201830;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 3rem; /* 166.667% */
}
.hero__content--cta .hero__content--link .hero__link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #201830;
}
.hero__content--cta .hero__content--link .hero__link-icon > * {
  translate: 1px;
}

/* ===== Platform ===== */
.platform {
  margin-top: 205px;
}
.platform-content .platform__heading--wrap {
  position: relative;
}
.platform-content .platform__heading--wrap .platform__heading {
  position: relative;
  z-index: 1;
}
.platform-content .platform__heading--wrap .platform__heading--decor {
  position: absolute;
  bottom: -9px;
  right: 61px;
}
.platform-content .platform__desc {
  margin-top: 18px;
}
.platform-content .platform__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 38px;
  background: #936cdd;
}
.platform-content .platform__btn .platform__btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #fff;
}
.platform-content .platform__btn .platform__btn-icon > * {
  translate: 1px;
}
.platform-media {
  position: relative;
}
.platform-media__bg {
  position: absolute;
  left: 50%;
  translate: -50%;
  width: 287px;
  height: 287px;
  border-radius: 50%;
  opacity: 0.4;
  background: #ff9051;
  filter: blur(129px);
}
.platform-media__wrap {
  position: absolute;
  left: 50%;
  translate: -50%;
  width: 287px;
  height: 287px;
  animation: spin 30s linear infinite;
}
.platform-media__wrap--img {
  position: absolute;
  animation: spin 30s linear infinite reverse;
}
.platform-media__wrap--img:nth-child(1) {
  top: -56px;
  left: 43px;
}
.platform-media__wrap--img:nth-child(2) {
  top: 3px;
  right: -141px;
}
.platform-media__wrap--img:nth-child(3) {
  bottom: -16px;
  right: -93px;
}
.platform-media__wrap--img:nth-child(4) {
  bottom: -56px;
  left: 27px;
}
.platform-media__wrap--img:nth-child(5) {
  bottom: 99px;
  left: -142px;
}

@keyframes spin {
  0% {
    rotate: 0;
  }
  100% {
    rotate: 360deg;
  }
}
/* ===== Category ===== */
.category {
  margin-top: 160px;
}
.category__heading-wrap {
  position: relative;
  left: 50%;
  translate: -50%;
  display: inline-block;
}
.category__heading-wrap .category__heading {
  position: relative;
  z-index: 1;
}
.category__heading-wrap .category__heading--decor {
  position: absolute;
  bottom: -10px;
  right: -2px;
}
.category__desc {
  width: 470px;
  text-align: center;
  margin: 18px auto 0;
}
.category__list {
  margin-top: 70px;
}
.category__list .category-item__wrap {
  position: relative;
  display: flex;
  align-items: flex-end;
  border-radius: 8px;
}
.category__list .category-item__wrap .category-item__thumb {
  width: 100%;
  display: block;
}
.category__list .category-item__wrap .category-item__info {
  position: absolute;
  width: 100%;
  padding: 16px 24px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 0 0 8px 8px;
}
.category__list .category-item__wrap .category-item__info--row {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.category__list .category-item__wrap .category-item__info--row .category-item__title {
  color: #fff;
  font-weight: 600;
}
.category__list .category-item__wrap .category-item__info--row .category-item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  translate: 0 1px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #fff;
}
.category__list .category-item__wrap .category-item__info--quantity {
  color: #fff;
}
.category__list .category-item__group-top .category-item:first-child {
  width: 62.5%;
}
.category__list .category-item__group-top .category-item:last-child {
  width: 37.5%;
}
.category__list .category-item__group-bot {
  margin-top: var(--grid-gutter-x);
}
.category__list .category-item__group-bot .category-item:first-child {
  width: 37.5%;
}
.category__list .category-item__group-bot .category-item:last-child {
  width: 62.5%;
}
.category__btn {
  margin-top: 55px;
  text-align: center;
}

/* ===== Episode ===== */
.episode {
  margin-top: 160px;
  padding: 100px 0;
  background: #fff8f3;
}
.episode-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.episode-top__heading-wrap {
  position: relative;
}
.episode-top__heading-wrap .episode__heading {
  position: relative;
  z-index: 1;
  width: 390px;
}
.episode-top__heading-wrap .episode__heading--decor {
  position: absolute;
  top: 38px;
  right: 42px;
}
.episode__list {
  margin-top: 84px;
}
.episode__list .episode-item {
  display: flex;
  align-items: center;
  gap: var(--grid-gutter-x);
}
.episode__list .episode-item__thumb-wrap {
  width: 50%;
}
.episode__list .episode-item__thumb-wrap .episode-item__thumb {
  width: 100%;
}
.episode__list .episode-item__info {
  width: 50%;
}
.episode__list .episode-item__info .episode-item__duration {
  color: #ff9051;
}
.episode__list .episode-item__info .episode-item__title {
  margin-top: 6px;
}
.episode__list .episode-item__info .episode-item__desc {
  margin-top: 18px;
}
.episode__list .episode-item__info .episode-item__link {
  margin-top: 11px;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  color: #201830;
  transition: color 0.25s;
}
.episode__list .episode-item__info .episode-item__link .episode-item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  translate: 0 1px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: currentColor;
}
.episode__list .episode-item__info .episode-item__link:hover {
  color: #936cdd;
}
.episode__list .episode-item:nth-child(3), .episode__list .episode-item:nth-child(4) {
  margin-top: var(--grid-gutter-x);
  flex-direction: row-reverse;
}
.episode__dots {
  margin-top: 55px;
}

/* ===== Speech ===== */
.speech {
  margin-top: 168px;
}
.speech-inner {
  position: relative;
  align-items: center;
}
.speech-inner .speech__media {
  position: relative;
  display: flex;
  align-items: center;
}
.speech-inner .speech__media--wrap:first-of-type {
  position: relative;
  z-index: 1;
  width: 63%;
  margin-right: -70px;
}
.speech-inner .speech__media--wrap:last-of-type {
  width: 86.7%;
}
.speech-inner .speech__media--img {
  width: 100%;
}
.speech-inner .speech__media .speech__dots {
  position: absolute;
  bottom: 0;
  left: 74px;
}
.speech-inner .speech-content__heading-wrap {
  margin-top: 18px;
  position: relative;
}
.speech-inner .speech-content__heading-wrap .speech-content__heading {
  position: relative;
  z-index: 1;
}
.speech-inner .speech-content__heading-wrap .speech-content__heading--decor {
  position: absolute;
  right: 100px;
  top: 31px;
}
.speech-inner .speech-content__desc {
  margin-top: 38px;
}
.speech-inner .speech-content__author {
  margin-top: 18px;
  color: #aba6b5;
}
.speech-inner__decor {
  position: absolute;
  top: 0;
  right: -287px;
  width: 287px;
  height: 287px;
  border-radius: 50%;
  opacity: 0.4;
  background: #ff9051;
  filter: blur(129px);
}

/* ===== Subscribe ===== */
.subscribe {
  margin-top: 160px;
}
.subscribe .container {
  position: relative;
  background: #201830;
  border-radius: 12px;
}
.subscribe-inner {
  padding: 100px 0;
}
.subscribe-inner .subscribe-top {
  align-items: center;
}
.subscribe-inner .subscribe-top .subscribe__heading-wrap {
  position: relative;
}
.subscribe-inner .subscribe-top .subscribe__heading-wrap .subscribe__heading {
  position: relative;
  z-index: 1;
  color: #fff;
}
.subscribe-inner .subscribe-top .subscribe__heading-wrap .subscribe__heading--decor {
  position: absolute;
  left: 14px;
  bottom: -5px;
}
.subscribe-inner .subscribe-top .subscribe__desc {
  color: #aba6b5;
}
.subscribe-inner .subscribe-form {
  margin-top: 70px;
}
.subscribe-inner .subscribe-form__name, .subscribe-inner .subscribe-form__email {
  width: 100%;
  height: 100%;
  padding: 18px 28px;
  border-radius: 8px;
  background: #2b213f;
  outline: none;
  border: none;
}
.subscribe-inner .subscribe-form__name::placeholder, .subscribe-inner .subscribe-form__email::placeholder {
  color: #aba6b5;
  font-size: 1.6rem;
  font-weight: 400;
}
.subscribe-inner .subscribe-form__submit {
  margin-left: 15px;
  outline: none;
  border: none;
  background: #936cdd;
}
.subscribe__decor {
  position: absolute;
}
.subscribe__decor:nth-of-type(1) {
  left: 35px;
  bottom: 45px;
}
.subscribe__decor:nth-of-type(2) {
  left: 528px;
  top: 26px;
}
.subscribe__decor:nth-of-type(3) {
  right: 27px;
  top: 180px;
}

/* ===== Footer ===== */
.footer {
  background: #fff8f3;
  padding: 100px 0 38px;
}
.footer-inner {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: space-between;
}
.footer-inner .footer__col:first-child {
  margin-right: 26px;
}
.footer-inner .footer__col:first-child .footer__copyright {
  margin-top: 14px;
  width: 270px;
}
.footer-inner .footer__col:first-child .footer__socials {
  margin-top: 18px;
  display: flex;
  gap: 14px;
}
.footer-inner .footer__col:first-child .footer__socials .footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #201830;
}
.footer-inner .footer__col:first-child .footer__socials .footer__social:nth-child(2) {
  background: #936cdd;
}
.footer-inner .footer__col:nth-child(2) .footer__list, .footer-inner .footer__col:nth-child(3) .footer__list, .footer-inner .footer__col:nth-child(4) .footer__list {
  margin-top: 24px;
}
.footer-inner .footer__col:nth-child(2) .footer__list .footer__item, .footer-inner .footer__col:nth-child(3) .footer__list .footer__item, .footer-inner .footer__col:nth-child(4) .footer__list .footer__item {
  margin-top: 16px;
}
.footer-inner .footer__col:nth-child(2) .footer__list .footer__item .footer__link:hover, .footer-inner .footer__col:nth-child(3) .footer__list .footer__item .footer__link:hover, .footer-inner .footer__col:nth-child(4) .footer__list .footer__item .footer__link:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.footer-inner .footer__col:last-child .footer__platforms {
  margin-top: 24px;
  display: flex;
  gap: 16px;
}
.footer-inner .footer__col:last-child .footer__platforms .footer__platform {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

/* === Desktop === */
@media (min-width: 992px) {
  .header-mobile__menu {
    display: none;
  }
  .episode-top__btn-mobile {
    display: none;
  }
}
/* === Desktop mini === */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .section-heading-1 {
    font-size: 6rem;
    line-height: 6.5rem; /* 114.286% */
  }
  .section-heading-2 {
    font-size: 4rem;
    line-height: 6.5rem; /* 114.286% */
  }
  .platform-media__bg {
    width: 240px;
    height: 240px;
  }
  .platform-media__wrap {
    width: 240px;
    height: 240px;
  }
  .platform-media__wrap--img:nth-child(1) {
    width: 126px;
    height: 126px;
  }
  .platform-media__wrap--img:nth-child(2) {
    top: 3px;
    right: -120px;
    width: 80px;
    height: 80px;
  }
  .platform-media__wrap--img:nth-child(3) {
    width: 112px;
    height: 112px;
  }
  .platform-media__wrap--img:nth-child(4) {
    width: 100px;
    height: 100px;
  }
  .platform-media__wrap--img:nth-child(5) {
    bottom: 99px;
    left: -111px;
    width: 65px;
    height: 65px;
  }
}
/* === Tablet and Mobile === */
@media (max-width: 991.98px) {
  .navbar {
    display: none;
  }
  .header__inner .header__action {
    display: none;
  }
  .platform-inner {
    flex-direction: column-reverse;
    gap: 69px;
  }
  .platform-inner .platform-media {
    height: 200px;
  }
  .platform-inner .platform-media__bg, .platform-inner .platform-media__wrap {
    width: 200px;
    height: 200px;
  }
}
/* === Tablet === */
@media (min-width: 768px) and (max-width: 991.92px) {
  .section-heading-1 {
    font-size: 5.8rem;
    line-height: 1.5;
  }
  .hero__content {
    margin-top: 30px;
  }
}
/* === Mobile === */
@media (max-width: 767.98px) {
  .section-heading-1 {
    font-size: 3.6rem;
    line-height: 4.6rem; /* 127.778% */
  }
  .section-heading-2 {
    font-size: 2.6rem;
    line-height: 3.6rem; /* 138.462% */
  }
  .section-desc-1,
  .section-desc-2 {
    font-size: 1.4rem;
    line-height: 2.4rem; /* 171.429% */
  }
  .header-mobile__menu {
    width: 18px;
    height: 16px;
  }
  .hero {
    padding: 42px 0 32px;
  }
  .hero .hero__media--left .hero__media--play {
    border-radius: 0.534rem;
    box-shadow: 0 7.119px 26.105px 0 rgba(32, 24, 48, 0.07);
  }
  .hero .hero__media--left .hero__media--play .hero__play--icon {
    width: 1.5425rem;
    height: 1.5425rem;
  }
  .hero .hero__media--left .hero__media--play .hero__play--icon > * {
    width: 4.7px;
    height: 4.7px;
    translate: 0;
  }
  .hero .hero__media--left .hero__media--play .hero__duration {
    width: 6.7635rem;
    height: 1.5425rem;
  }
  .hero .hero__media--left .hero__media--play .hero__duration > * {
    width: 100%;
  }
  .hero .hero__media--left .hero__media--title {
    margin-top: 31px;
    font-size: 0.8306rem;
  }
  .hero .hero__media--left .hero__media--avatars {
    margin-top: 5px;
    margin-left: 10px;
  }
  .hero .hero__media--left .hero__media--avatars .hero__media--avatar {
    width: 2.8478rem;
    height: 2.8478rem;
    margin-left: -10px;
    font-size: 0.7119rem;
  }
  .hero .hero__media--right .hero__media--podcasts {
    width: 49px;
    height: 49px;
  }
  .hero .hero__media--right .hero__media--podcasts .hero__data {
    font-size: 0.8306rem;
  }
  .hero .hero__media--right .hero__media--podcasts .hero__media--podcast {
    font-size: 0.5933rem;
  }
  .hero .hero__media--right figure {
    margin-top: 17px;
  }
  .hero .hero__media--right .hero__media--icons {
    gap: 10px;
  }
  .hero .hero__media--right .hero__media--icons .hero__media--icon {
    width: 1.6612rem;
    height: 1.6612rem;
  }
  .hero .hero__media--right .hero__media--singer {
    border-radius: 0.534rem;
    box-shadow: 0 7.119px 26.105px 0 rgba(0, 0, 0, 0.07);
  }
  .hero .hero__media--right .hero__media--singer .hero__singer-name {
    font-size: 0.8306rem;
  }
  .hero .hero__media--right .hero__media--singer .hero__singer-desc {
    font-size: 0.7119rem;
  }
  .hero .hero__media--right .hero__media--decor {
    width: 2.6698rem;
    height: 2.168rem;
  }
  .hero .hero__content {
    margin-top: 39px;
  }
  .hero .hero__content .hero__heading--decor {
    width: 16.9rem;
    height: 2rem;
    left: 2px;
    bottom: 0;
  }
  .hero .hero__content--desc {
    margin-top: 12px;
  }
  .hero .hero__content--cta {
    margin-top: 28px;
  }
  .platform {
    margin-top: 131px;
  }
  .platform-media {
    height: 176px;
  }
  .platform-media__bg, .platform-media__wrap {
    width: 176px;
    height: 176px;
  }
  .platform-media__wrap {
    animation: none;
  }
  .platform-media__wrap--img {
    animation: none;
  }
  .platform-media__wrap--img:nth-child(1) {
    top: -31px;
    left: 28px;
    width: 8.9rem;
    height: 8.9rem;
  }
  .platform-media__wrap--img:nth-child(2) {
    top: 4px;
    right: -91px;
    width: 5.8rem;
    height: 5.8rem;
  }
  .platform-media__wrap--img:nth-child(3) {
    bottom: -7px;
    right: -53px;
    width: 8.2rem;
    height: 8.2rem;
  }
  .platform-media__wrap--img:nth-child(4) {
    left: 19px;
    bottom: -31px;
    width: 7.5rem;
    height: 7.5rem;
  }
  .platform-media__wrap--img:nth-child(5) {
    bottom: 61px;
    left: -82px;
    width: 4.8rem;
    height: 4.8rem;
  }
  .platform-content .platform__heading--wrap .platform__heading--decor {
    width: 13rem;
    height: 2rem;
    left: 2px;
    bottom: 0;
  }
  .platform-content .platform__desc {
    margin-top: 12px;
  }
  .platform-content .platform__btn {
    margin-top: 28px;
  }
  .category {
    margin-top: 100px;
  }
  .category .category__heading-wrap .category__heading--decor {
    right: 3px;
    bottom: -7px;
    width: 111px;
    height: 20px;
  }
  .category__desc {
    margin-top: 12px;
    width: 100%;
  }
  .category__list {
    margin-top: 38px;
    gap: 16px;
  }
  .category__list-right .category-item__group-top {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .category__list-right .category-item__group-top .category-item:first-child {
    width: 100%;
  }
  .category__list-right .category-item__group-top .category-item:last-child {
    width: 71%;
  }
  .category__list-right .category-item__group-bot {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .category__list-right .category-item__group-bot .category-item:first-child {
    width: 71%;
  }
  .category__list-right .category-item__group-bot .category-item:last-child {
    width: 100%;
  }
  .category__btn {
    margin-top: 38px;
  }
  .episode {
    margin-top: 100px;
    padding: 70px 0;
  }
  .episode-top__heading-wrap .episode__heading--decor {
    width: 107px;
    height: 20px;
    left: 6px;
    bottom: -5px;
    top: auto;
  }
  .episode-top .episode-top__btn {
    display: none;
  }
  .episode__list {
    margin-top: 38px;
    flex-wrap: nowrap;
    overflow: hidden;
  }
  .episode__list .episode-item {
    flex-shrink: 0;
    gap: 19px;
  }
  .episode__list .episode-item .episode-item__info .episode-item__duration {
    font-size: 1rem;
    line-height: 1;
  }
  .episode__list .episode-item .episode-item__info .episode-item__title {
    margin-top: 7px;
    font-size: 1.2rem;
    line-height: 1.8rem; /* 150% */
  }
  .episode__list .episode-item .episode-item__info .episode-item__desc {
    margin-top: 12px;
    font-size: 1rem;
    line-height: 1.8;
  }
  .episode__list .episode-item .episode-item__info .episode-item__link {
    margin-top: 7px;
    font-size: 1rem;
    line-height: 1;
  }
  .episode__list .episode-item .episode-item__info .episode-item__link .episode-item__icon {
    width: 10px;
    height: 10px;
  }
  .episode__list .episode-item .episode-item__info .episode-item__link .episode-item__icon > * {
    width: 4px;
    height: 4px;
  }
  .episode__list .episode-item:nth-child(3), .episode__list .episode-item:nth-child(4) {
    margin-top: 0;
  }
  .episode__dots {
    margin-top: 18px;
  }
  .episode-top__btn-mobile {
    margin-top: 38px;
  }
  .speech {
    margin-top: 100px;
  }
  .speech-inner {
    flex-direction: column-reverse;
    gap: 28px;
  }
  .speech-inner .speech__media .speech__dots {
    gap: 5px;
    left: 62px;
  }
  .speech-inner .speech__media .speech__dots .speech__dot {
    width: 5px;
    height: 5px;
  }
  .speech-inner .speech__media .speech__dots .speech__dot.active {
    width: 7px;
    height: 7px;
  }
  .speech-inner .speech-content__heading-wrap .speech-content__heading--decor {
    width: 97px;
    height: 20px;
    top: 21px;
    left: 125px;
  }
  .speech-inner .speech-content__desc, .speech-inner .speech-content__author {
    margin-top: 12px;
  }
  .speech-inner__decor {
    width: 127px;
    height: 127px;
    right: 0;
    top: 31px;
  }
  .subscribe {
    margin-top: 100px;
  }
  .subscribe-inner {
    padding: 50px 0;
  }
  .subscribe-inner .subscribe-top .subscribe__heading-wrap .subscribe__heading--decor {
    width: 86px;
    height: 20px;
    left: 14px;
    top: 22px;
  }
  .subscribe-inner .subscribe-top .subscribe__desc {
    margin-top: 12px;
  }
  .subscribe-inner .subscribe-form {
    margin-top: 38px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
  .subscribe-inner .subscribe-form div {
    height: 64px;
  }
  .subscribe-inner .subscribe-form__submit {
    margin-top: 6px;
  }
  .subscribe__decor:nth-of-type(1) {
    left: auto;
    right: 46px;
    bottom: 67px;
  }
  .subscribe__decor:nth-of-type(3) {
    inset: auto 120px 38px auto;
  }
  .subscribe__decor:nth-of-type(2) {
    inset: auto 34px 11px auto;
  }
  .footer {
    padding: 54px 0 50px;
  }
  .footer-inner {
    grid-template-columns: 1fr;
    row-gap: 38px;
  }
}

/*# sourceMappingURL=main.css.map */
