@use "./variables";

/* ===== Common ===== */
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

.section-heading-1,
.section-heading-2,
.section-heading-3 {
    color: variables.$primary-color-heading;
}

.section-heading-1 {
    font-size: 7rem;
    font-weight: 700;
    line-height: 8rem; /* 114.286% */
}

.section-heading-2 {
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 5.2rem; /* 123.81% */
}

.section-heading-3 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem; /* 150% */
}

.section-desc-1,
.section-desc-2 {
    color: variables.$primary-color-desc;
}

.section-desc-1 {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem; /* 166.667% */
}

.section-desc-2 {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem; /* 175% */
}

.section-desc-3 {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem; /* 171.429% */
}

.btn {
    --height-btn: 64px;

    display: inline-block;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
    padding: 0 12px;
    min-width: 157px;
    line-height: var(--height-btn);
    border-radius: 8px;
    background: variables.$primary-color-heading;

    &:hover {
        opacity: 0.9;
    }
}

.dots {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;

    .dot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #d8d5de;
        cursor: pointer;

        &.active {
            width: 12px;
            height: 12px;
            background: variables.$type-purple-color;
        }
    }
}

/* ===== Header ===== */
.header {
    padding-top: 42px;
    background-color: variables.$primary-color-bg;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .navbar {
            &__list {
                display: flex;
            }

            &__item {
                display: flex;
                align-items: center;
                gap: 7px;
                padding: 12px 24px;
                cursor: pointer;

                &:hover {
                    text-shadow: 0 1px 0 currentColor;
                }

                &--expand {
                    width: 6px;
                    height: 6px;
                    border: 1px solid variables.$primary-color-desc;
                    border-top-color: transparent;
                    border-right-color: transparent;
                    rotate: -45deg;
                }
            }
        }

        .header__action {
            display: flex;
            align-items: center;
            gap: 28px;

            &--login {
                color: variables.$primary-color-heading;
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 2.8rem; /* 175% */
            }

            &--signup {
                --height-btn: 48px;
                font-size: 1.6rem;
                min-width: 116px;
            }
        }
    }
}

/* ===== Hero ===== */
.hero {
    padding: 110px 0 140px;
    background-color: variables.$primary-color-bg;

    &__media {
        display: flex;
        gap: 30px;

        &--left,
        &--right {
            width: 50%;

            .hero__img {
                width: 100%;
            }

            figure {
                @include flex-center();
                position: relative;
            }
        }

        &--left {
            .hero__media--play {
                position: absolute;
                bottom: 0;
                translate: 0 50%;
                @include flex-center();
                gap: 12px;
                width: 72%;
                height: 19.8%;
                border-radius: 9px;
                background: #fff;
                box-shadow: 0 12px 44px 0 rgba(32, 24, 48, 0.07);

                .hero__play--icon {
                    @include flex-center();
                    width: 26px;
                    height: 26px;
                    border-radius: 50%;
                    border: 1px solid variables.$type-purple-color;

                    > * {
                        translate: 1px;
                    }
                }
            }

            .hero__media--title {
                margin-top: 53px;
                color: variables.$primary-color-heading;
                font-weight: 600;
            }

            .hero__media--avatars {
                margin-top: 10px;
                display: flex;
                margin-left: 18px;

                .hero__media--avatar {
                    width: 48px;
                    height: 48px;
                    margin-left: -18px;

                    &:last-child {
                        @include flex-center();
                        background-color: variables.$primary-color-heading;
                        color: #fff;
                        font-size: 1.2rem;
                        font-weight: 600;
                        line-height: 2.2rem; /* 183.333% */
                        border-radius: 50%;
                        border: 2px solid #fff;
                    }
                }
            }
        }

        &--right {
            position: relative;
            margin-top: 8px;

            .hero__media--podcasts {
                @include flex-center();
                flex-direction: column;
                margin-left: 43.7%;
                gap: 4px;
                width: 82px;
                height: 82px;
                border-radius: 50%;
                background-color: variables.$type-orange-color;

                .hero__data {
                    color: #fff;
                    font-size: 1.4rem;
                    font-weight: 800;
                    line-height: 1; /* 100% */
                }

                .hero__media--podcast {
                    color: #ffefe7;
                    font-size: 1rem;
                    font-weight: 500;
                    line-height: 1; /* 100% */
                }
            }

            .hero__media--icons {
                display: flex;
                gap: 18px;
                margin-top: 12px;
            }

            figure {
                margin-top: 28px;

                .hero__media--singer {
                    @include flex-center();
                    flex-direction: column;
                    gap: 6px;
                    position: absolute;
                    bottom: 5.3%;
                    width: 72%;
                    height: 19.8%;
                    border-radius: 9px;
                    background: rgba(255, 255, 255, 0.4);
                    box-shadow: 0 12px 44px 0 rgba(0, 0, 0, 0.07);
                    backdrop-filter: blur(5px);

                    .hero__singer-name {
                        color: #201830;
                        font-size: 1.4rem;
                        font-weight: 600;
                        line-height: 1; /* 100% */
                    }

                    .hero__singer-desc {
                        color: variables.$primary-color-desc;
                        font-size: 1.2rem;
                        font-weight: 400;
                        line-height: 1; /* 100% */
                    }
                }
            }

            .hero__media--decor {
                position: absolute;

                &:first-of-type {
                    top: 8.1%;
                    left: 20%;
                }

                &:last-of-type {
                    top: 20.8%;
                    left: 58.2%;
                }
            }
        }
    }

    &__content {
        margin-top: 18px;

        .hero__heading--wrap {
            position: relative;

            .hero__content--heading {
                position: relative;
                z-index: 1;
            }

            .hero__heading--decor {
                position: absolute;
                left: 31px;
                bottom: 68px;
            }
        }

        &--desc {
            margin-top: 20px;
        }

        &--cta {
            display: flex;
            align-items: center;
            gap: 28px;
            margin-top: 40px;

            .hero__content--btn {
                background: variables.$type-purple-color;
            }

            .hero__content--link {
                display: flex;
                align-items: center;
                gap: 8px;
                color: variables.$primary-color-heading;
                font-size: 1.8rem;
                font-weight: 600;
                line-height: 3rem; /* 166.667% */

                .hero__link-icon {
                    @include flex-center();
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    background: variables.$primary-color-heading;

                    > * {
                        translate: 1px;
                    }
                }
            }
        }
    }
}

/* ===== Platform ===== */
.platform {
    margin-top: 205px;

    &-content {
        .platform__heading--wrap {
            position: relative;

            .platform__heading {
                position: relative;
                z-index: 1;
            }

            .platform__heading--decor {
                position: absolute;
                bottom: -9px;
                right: 61px;
            }
        }

        .platform__desc {
            margin-top: 18px;
        }

        .platform__btn {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            margin-top: 38px;
            background: variables.$type-purple-color;

            .platform__btn-icon {
                @include flex-center();
                width: 18px;
                height: 18px;
                border-radius: 50%;
                background: #fff;

                > * {
                    translate: 1px;
                }
            }
        }
    }

    &-media {
        position: relative;

        &__bg {
            position: absolute;
            left: 50%;
            translate: -50%;
            width: 287px;
            height: 287px;
            border-radius: 50%;
            opacity: 0.4;
            background: variables.$type-orange-color;
            filter: blur(129px);
        }

        &__wrap {
            position: absolute;
            left: 50%;
            translate: -50%;
            width: 287px;
            height: 287px;
            animation: spin 30s linear infinite;

            &--img {
                position: absolute;
                animation: spin 30s linear infinite reverse;

                &:nth-child(1) {
                    top: -56px;
                    left: 43px;
                }

                &:nth-child(2) {
                    top: 3px;
                    right: -141px;
                }

                &:nth-child(3) {
                    bottom: -16px;
                    right: -93px;
                }

                &:nth-child(4) {
                    bottom: -56px;
                    left: 27px;
                }

                &:nth-child(5) {
                    bottom: 99px;
                    left: -142px;
                }
            }
        }
    }
}

@keyframes spin {
    0% {
        rotate: 0;
    }

    100% {
        rotate: 360deg;
    }
}

/* ===== Category ===== */
.category {
    margin-top: 160px;

    &__heading-wrap {
        position: relative;
        left: 50%;
        translate: -50%;
        display: inline-block;

        .category__heading {
            position: relative;
            z-index: 1;
        }

        .category__heading--decor {
            position: absolute;
            bottom: -10px;
            right: -2px;
        }
    }

    &__desc {
        width: 470px;
        text-align: center;
        margin: 18px auto 0;
    }

    &__list {
        margin-top: 70px;

        .category-item {
            &__wrap {
                position: relative;
                display: flex;
                align-items: flex-end;
                border-radius: 8px;

                .category-item__thumb {
                    width: 100%;
                    display: block;
                }

                .category-item__info {
                    position: absolute;
                    width: 100%;
                    padding: 16px 24px;
                    background: rgba(255, 255, 255, 0.2);
                    backdrop-filter: blur(10px);
                    border-radius: 0 0 8px 8px;

                    &--row {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        cursor: pointer;

                        .category-item__title {
                            color: #fff;
                            font-weight: 600;
                        }

                        .category-item__icon {
                            @include flex-center();
                            translate: 0 1px;
                            width: 14px;
                            height: 14px;
                            border-radius: 50%;
                            border: 1px solid #fff;
                        }
                    }

                    &--quantity {
                        color: #fff;
                    }
                }
            }

            &__group-top {
                .category-item:first-child {
                    width: 62.5%;
                }

                .category-item:last-child {
                    width: 37.5%;
                }
            }

            &__group-bot {
                margin-top: var(--grid-gutter-x);

                .category-item:first-child {
                    width: 37.5%;
                }

                .category-item:last-child {
                    width: 62.5%;
                }
            }
        }
    }

    &__btn {
        margin-top: 55px;
        text-align: center;
    }
}

/* ===== Episode ===== */
.episode {
    margin-top: 160px;
    padding: 100px 0;
    background: variables.$primary-color-bg;

    &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__heading-wrap {
            position: relative;

            .episode__heading {
                position: relative;
                z-index: 1;
                width: 390px;
            }

            .episode__heading--decor {
                position: absolute;
                top: 38px;
                right: 42px;
            }
        }
    }

    &__list {
        margin-top: 84px;

        .episode-item {
            display: flex;
            align-items: center;
            gap: var(--grid-gutter-x);

            &__thumb-wrap {
                width: 50%;

                .episode-item__thumb {
                    width: 100%;
                }
            }

            &__info {
                width: 50%;

                .episode-item__duration {
                    color: variables.$type-orange-color;
                }

                .episode-item__title {
                    margin-top: 6px;
                }

                .episode-item__desc {
                    margin-top: 18px;
                }

                .episode-item__link {
                    margin-top: 11px;
                    display: inline-flex;
                    align-items: center;
                    gap: 6px;
                    color: variables.$primary-color-heading;
                    transition: color 0.25s;

                    .episode-item__icon {
                        @include flex-center();
                        translate: 0 1px;
                        width: 14px;
                        height: 14px;
                        border-radius: 50%;
                        background: currentColor;
                    }

                    &:hover {
                        color: variables.$type-purple-color;
                    }
                }
            }

            &:nth-child(3),
            &:nth-child(4) {
                margin-top: var(--grid-gutter-x);
                flex-direction: row-reverse;
            }
        }
    }

    &__dots {
        margin-top: 55px;
    }
}

/* ===== Speech ===== */
.speech {
    margin-top: 168px;
    overflow: hidden;

    &-inner {
        position: relative;
        align-items: center;

        .speech__media {
            position: relative;
            display: flex;
            align-items: center;

            &--wrap:first-of-type {
                position: relative;
                z-index: 1;
                width: 63%;
                margin-right: -70px;
            }

            &--wrap:last-of-type {
                width: 86.7%;
            }

            &--img {
                width: 100%;
            }

            .speech__dots {
                position: absolute;
                bottom: 0;
                left: 74px;
            }
        }

        .speech-content {
            &__heading-wrap {
                margin-top: 18px;
                position: relative;

                .speech-content__heading {
                    position: relative;
                    z-index: 1;
                }

                .speech-content__heading--decor {
                    position: absolute;
                    right: 100px;
                    top: 31px;
                }
            }

            &__desc {
                margin-top: 38px;
            }

            &__author {
                margin-top: 18px;
                color: #aba6b5;
            }
        }

        &__decor {
            position: absolute;
            top: 0;
            right: -287px;
            width: 287px;
            height: 287px;
            border-radius: 50%;
            opacity: 0.4;
            background: variables.$type-orange-color;
            filter: blur(129px);
        }
    }
}

/* ===== Subscribe ===== */
.subscribe {
    margin-top: 160px;

    .container {
        position: relative;
        background: variables.$primary-color-heading;
        border-radius: 12px;
    }

    &-inner {
        padding: 100px 0;

        .subscribe-top {
            align-items: center;

            .subscribe__heading-wrap {
                position: relative;

                .subscribe__heading {
                    position: relative;
                    z-index: 1;
                    color: #fff;
                }

                .subscribe__heading--decor {
                    position: absolute;
                    left: 14px;
                    bottom: -5px;
                }
            }

            .subscribe__desc {
                color: #aba6b5;
            }
        }

        .subscribe-form {
            margin-top: 70px;

            &__name,
            &__email {
                width: 100%;
                height: 100%;
                padding: 18px 28px;
                border-radius: 8px;
                background: #2b213f;
                outline: none;
                border: none;

                &::placeholder {
                    color: #aba6b5;
                    font-size: 1.6rem;
                    font-weight: 400;
                }
            }

            &__submit {
                margin-left: 15px;
                outline: none;
                border: none;
                background: variables.$type-purple-color;
            }
        }
    }

    &__decor {
        position: absolute;

        &:nth-of-type(1) {
            left: 35px;
            bottom: 45px;
        }

        &:nth-of-type(2) {
            left: 528px;
            top: 26px;
        }

        &:nth-of-type(3) {
            right: 27px;
            top: 180px;
        }
    }
}

/* ===== Footer ===== */
.footer {
    background: variables.$primary-color-bg;
    padding: 100px 0 38px;

    &-inner {
        display: grid;
        grid-template-columns: repeat(5, auto);
        justify-content: space-between;

        .footer__col {
            &:first-child {
                margin-right: 26px;

                .footer__copyright {
                    margin-top: 14px;
                    width: 270px;
                }

                .footer__socials {
                    margin-top: 18px;
                    display: flex;
                    gap: 14px;

                    .footer__social {
                        @include flex-center();
                        width: 36px;
                        height: 36px;
                        border-radius: 50%;
                        background: variables.$primary-color-heading;

                        &:nth-child(2) {
                            background: variables.$type-purple-color;
                        }
                    }
                }
            }

            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                .footer__list {
                    margin-top: 24px;

                    .footer__item {
                        margin-top: 16px;

                        .footer__link:hover {
                            text-decoration: underline;
                            text-decoration-skip-ink: none;
                        }
                    }
                }
            }

            &:last-child {
                .footer__platforms {
                    margin-top: 24px;
                    display: flex;
                    gap: 16px;

                    .footer__platform {
                        width: 36px;
                        height: 36px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
